* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
//    padding-top: 100px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    text-align: center;
    background-color: #FAF0E6;
    z-index: 1000;
}

.logo {
    max-width: 200px;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #5e2b07;
}

.button-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #8f5a03;
    padding: 12px 24px;
    margin: 10px;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
    width: 200px;
    justify-content: center;
}

.link-icon {
    margin-right: 12px;
}

.button-link:hover {
    background-color: #5e2b07;
}

/* latin-ext */
@font-face {
  font-family: 'Lancelot';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lancelot/v22/J7acnppxBGtQEulG4KYxzp5gGDAbnCA.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lancelot';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lancelot/v22/J7acnppxBGtQEulG4KY_zp5gGDAb.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
