<!DOCTYPE html>
<html lang="en">
<head>
  {{ if .Site.GoogleAnalytics }}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ .Site.GoogleAnalytics }}');
  </script>
  {{ end }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="{{ .Site.Title }} | {{ .Title }}" />
  <meta property="og:description" content="{{ .Description }}" />
  <meta property="og:image" content="{{ .Site.BaseURL }}/images/logo-with-name.png" />
  <link rel="stylesheet" href="/css/styles.css">
  <title>{{ .Site.Title }} | {{ .Title }} </title>
  <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>
  {{ partial "header.html" . }}
  {{ .Content }}
  {{ partial "footer.html" . }}
  <script src="/js/main-content-offset.js"></script>
</body>
</html>
