<footer>
    <div class="footer-sections">
        <section>
            <h3>Social Media</h3>
            <p>
                <a href="{{ .Site.Params.youtube }}" target="_blank">YouTube</a> |
                <a href="{{ .Site.Params.rumble }}" target="_blank">Rumble</a> |
                <a href="{{ .Site.Params.facebook }}" target="_blank">Facebook</a> |
                <a href="{{ .Site.Params.instagram }}" target="_blank">Instagram</a> |
                <a href="{{ .Site.Params.twitter }}" target="_blank">Twitter</a>
            </p>
        </section>
        <section>
          <h3>Useful Links</h3>
	  <p>
	    <a href="{{ (.Site.GetPage "page" "about").Permalink }}">About</a> |
	    <a href="{{ (.Site.GetPage "page" "contact").Permalink }}">Contact</a> |
            <a href="{{ .Site.Params.newsletterURL }}" target="_blank">Newsletter</a> |
            <a href="{{ .Site.Params.etsy }}" target="_blank">Etsy Store</a>
	  </p>
        </section>
    </div>
    <div class="copyright">
        <p>
            &copy; 2023{{ if gt (now.Year) 2023 }} - {{ now.Format "2006" }}{{ end }} Noman's Tales. All rights reserved.
        </p>
    </div>
</footer>

