<footer>
    <div class="footer-sections">
        <div class="social-media">
            <h3>Social Media</h3>
            <p>
                <a href="https://www.youtube.com/@nomanstales" target="_blank">YouTube</a> |
                <a href="https://rumble.com/c/c-2380534" target="_blank">Rumble</a> |
                <a href="https://www.facebook.com/NomansTales" target="_blank">Facebook</a> |
                <a href="https://www.instagram.com/nomanstalesofficial/" target="_blank">Instagram</a> |
                <a href="https://twitter.com/NomanTales" target="_blank">Twitter</a>
            </p>
        </div>
        <div class="newsletter">
            <h3>Newsletter</h3>
            <p>
                <a href="your-newsletter-signup-link" target="_blank">Sign up for our newsletter</a>
            </p>
        </div>
        <div class="etsy-store">
            <h3>Etsy Store</h3>
            <p>
                <a href="https://www.etsy.com/shop/NomansTales" target="_blank">Visit our Etsy store</a>
            </p>
        </div>
    </div>
    <div class="copyright">
        <p>
            &copy; 2023{{ if gt (now.Year) 2023 }} - {{ now.Format "2006" }}{{ end }} Noman's Tales. All rights reserved.
        </p>
    </div>
</footer>

