<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ .Site.Title }} | Page Not Found </title>
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>
    {{ partial "header.html" . }}
    <main>
      <section class="v-container">
	<h1>404: Page Not Found</h1>
	<p class="center">We're sorry, but the page your looking for doesn't seem to exist.  You can return to the <a href="/">Home page</a>, or even <a href="{{ (.Site.GetPage "page" "contact").Permalink }}">Contact Us</a> if there is something that we can assist you with.</p>
      </section>
    </main>
    {{ partial "footer.html" . }}
    <script src="/js/main-content-offset.js"></script>
</body>
</html>
